# Python / Environment
__pycache__/
*.pyc
venv/
!venv/pyvenv.cfg
.env

# Build / Distribution
build/
dist/


# DeepFace / TensorFlow
.deepface/
weights/

# Project Data (Heavy/Private)
database/
Logs/

# IDEs
.vscode/
.idea/