# Python / Environment
__pycache__/
*.pyc
venv/
.env

# Build / Distribution
build/
dist/
*.spec

# DeepFace / TensorFlow
.deepface/
weights/

# Project Data (Heavy/Private)
database/
Logs/
*.jpg
*.png
*.csv

# IDEs
.vscode/
.idea/
